.example-form { 
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  .example-left-align {
    text-align: left;
  }
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .example-container{
    padding-top: 40px; 
    padding-left: 2%; 
    padding-right: 2%;
    margin: 0.5%;
  }
  
  .login-container{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    min-width: 320px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .modal {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    min-width: 320px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

 